@import "../../../variable.scss";

.signup {
  width: 100vw;
  font-size: 1.4rem;
  padding: 12rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  
  &-title {
    text-align: center;
    > h3 {
      font-size: 2.2rem;
      font-weight: 600;
    }
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    width: 40rem;
    font-weight: 600;

    .signupForm {
      display: flex;
      flex-direction: column;
      row-gap: 3rem;

      &-item {
        display: flex;
        flex-direction: column;
        row-gap: 0.7rem;

        > input {
          border: none;
          outline: none;
          border-bottom: 1px solid $line-color;
          padding: 0.5em 0;
          background-color: #fff;
          color: $black-light;
          font-size: 1.4rem;
        }

        .passwordResult {
          color: crimson;
          font-size: 1.2rem;
          font-weight: normal;
        }

        .matchResult {
          font-size: 1.2rem;
          color: $sub-color;
          font-weight: normal;
        }

        &-term {
          text-align: center;
          font-size: 1.3rem;

          .term-check {
            padding: 1rem;
            border: 1px solid $line-color;

            > span {
              color: royalblue;
              cursor: pointer;
            }

            > input[type=checkbox] {
              margin-left: 0.5rem;
              cursor: pointer;
              transform: translateY(0.1rem);
            }
          }

          .term-info {
            border: 1px solid $line-color;
            margin-top: 1rem;
            padding: 1rem;
            width: 100%;
            height: 20vh;
            overflow: scroll;
          }

          .term-unchecked {
            margin-top: 0.3rem;
            text-align: left;
            color: crimson;
            font-weight: normal;
          }
        }
      }

      > button {
        font-size: 1.4rem;
        letter-spacing: 0.3rem;
        padding: 1.5rem;
        border: none;
        outline: none;
        background-color: $sub-color;
        border-radius: 0.3rem;
        color: #fff;
        transition: background 0.2s ease;
        cursor: pointer;

        &:hover {
          background: $main-color;
        }
      }
    }
  }
}

@media screen and (max-width: $md) {
  .signup {
    padding: 5rem 0;
    font-size: $mdFont;

    &-title {
      > h3 {
        font-size: 2rem;
      }
    }

    &-wrapper {
      width: 80%;

      .signupForm {
        &-item {
          > input {
            font-size: $mdFont;
          }

          .passwordResult {
            font-size: 1.1rem;
          }

          .matchResult {
            font-size: 1.1rem;
          }

          &-term {
            font-size: 1.2rem;
          }
        }
        
        > button {
          font-size: $mdFont;
        }
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .signup {
    padding: 2rem 0;
    font-size: $smFont;
    &-title {
      > h3 {
        font-size: 1.7rem;
      }
    }

    &-wrapper {
      width: 80%;

      .signupForm {
        &-item {
          > input {
            font-size: $smFont;
          }

          .passwordResult {
            font-size: 1rem;
          }

          .matchResult {
            font-size: 1rem;
          }

          &-term {
            font-size: 1.1rem;

            .term-check {
              padding: .7rem;
            }
          }
        }

        > button {
          padding: 1rem;
          font-size: $smFont;
        }
      }
    }
  }
}