//Space
$headerHeight: 60px;
$smSpacing: 8px;
$mdSpacing: 16px;
$lgSpacing: 32px;
$xlSpacing: 48px;
$xxlSpacing: 64px;

// BreakPoint
$xxl: 91.25em; // 1460px = 91.25em
$xl: 75em; // 1200px = 75em
$lg: 64em; // 1024px = 64em
$md: 48em; // 798px = 48em
$sm: 37.5em; // 600px = 37.5em

// color
$gray-light: rgba(237, 237, 237, 1);
$main-color: #8aa1a1;
$sub-color: #aaa;
$black-light: #282828;
$line-color: #ccc;

//Font
$logo-font: 'Sansita', sans-serif;
$smFont: 1.1rem;
$mdFont: 1.3rem;


