@import "../../variable.scss";

.checkoutItem {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $line-color;

  &-title {
    padding: 1rem 0.5rem;
    border-top: 1px solid $black-light;
    border-bottom: 1px solid $black-light;
    > h3 {
      font-weight: 600;
    }
  }
}
