@import "../../variable.scss";

.mypageItem {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 100%;
}

@media screen and (max-width: $lg) {
  .mypageItem:first-child {
    padding-top: 4rem;
  }
}

@media screen and (max-width: $md) {
  .mypageItem {
    &-title {
      > h2 {
        font-size: 1.7rem;
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .mypageItem {
    row-gap: 1rem;
    
    &:first-child {
      padding-top: 2rem;
    }

    &-title {
      > h2 {
        font-size: 1.4rem;
      }
    }
  }
}