@import "../../../variable.scss";

.brandsidebar-container {
  position: relative;
  padding: 6rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: #fff;
  z-index: 1050;
  border-bottom: 1px solid $line-color;
  row-gap: 7rem;
  font-size: 1.4rem;

  .brandsidebar-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 0 2rem;
    
    .brandsidebar-initial {
      display: flex;
      font-size: 1.7rem;
    }

    .brand-item {
      cursor: pointer;
    }
  }
}