@import "../../../variable.scss";

.masthead-container {
  height: calc(100vh - $headerHeight);
  width: calc(100vw - (100vw - 100%));
  position: sticky;
  top: 0;
  font-size: 1.5rem;
  color: #fff;
  z-index: -1;
  overflow: hidden;

  .masthead-slide {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    > img {
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      z-index: inherit;
      animation: scales 4.5s infinite;
    }

    .masthead-mainText {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 45%;
      right: 20%;
      width: max-content;
      z-index: 1;
      text-shadow: 0 5px 3px rgba(0, 0, 0, 0.4);

      > strong {
        display: block;
        font-size: 5rem;
      }

      &-num {
        position: relative;
        font-size: 3rem;
        font-weight: bold;
        display:flex;

        > span {
          position: relative;
          top: -1rem;
          display: inline-block;
          padding: 1rem 0.4rem;
          animation: trans 4.5s infinite;
        }
      }
    }

    &:not(.active) {
      display: none;
    }
  }

  .masthead-bar {
    position: absolute;
    left: 4%;
    bottom: 8%;
    text-shadow: 0 5px 3px rgba(0, 0, 0, 0.4);
    font-size: 2rem;
    padding-bottom: 1rem;
    padding-right: 20%;

    > div {
      margin-left: 0.3rem;
    }

    &::after {
      content: "";
      width: 100%;
      height: 0.4rem;
      background-color: #fff;
      position: absolute;
      left: 0;
      bottom: 0;
      animation: bar 4.5s infinite;
    }
  }

  .masthead-arrow {
    opacity: 0;
    animation: transDown 4.5s infinite;

    &-down {
      font-size: 6rem;
    }
  }
}

@media screen and (max-width: $md) {
  .masthead-container {
    .masthead-slide {
      > img {
        object-fit: cover;
      }
      .masthead-mainText {
        align-items: center;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);

        > strong {
          font-size: 4rem;
        }
      }
    }

    .masthead-bar {
      opacity: 0;
    }

    .masthead-arrow {
      opacity: 1;
      position: absolute;
      left: 50%;
      bottom: 8%;
      transform: translateX(-50%);
    }
  }
}

@media screen and (max-width: $sm) {
  .masthead-container {
    height: calc(100svh - $headerHeight);
    
    .masthead-slide {
      .masthead-mainText {
        > strong {
          font-size: 3rem;
        }

        &-num {
          font-size: 2.5rem;
        }
      }
    }
  }
}

@keyframes bar {
  0% {
    width: 0%;
  }
}

@keyframes trans {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }

  30% {
    opacity: 1;
    transform: translateY(0);
  }

  70% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-1rem);
  }
}

@keyframes scales {
  0% {
    transform: scale(1.1);
  }
}

@keyframes transDown {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
    bottom: 5%
  }

  70% {
    opacity: 1;
    bottom: 5%
  }

  100% {
    opacity: 0;
  }
}