@import "../../../variable.scss";

.signinForm-container {
  width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin: 0 auto;
  padding: 15rem 0;
  align-items: center;
  font-size: 1.4rem;

  .signinForm-title {
    > h3 {
      font-size: 2.2rem;
      font-weight: 600;
    }
  }

  .signinForm-wrapper {
    width: 30rem;
    
    .signinForm {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;

      .form-box {
        position: relative;
        > input {
          background-color: transparent;
          border: none;
          border-bottom: solid 1px #ccc;
          padding: 25px 0 5px 0;
          font-size: 1.4rem;
          width: 100%;
          outline: none;
          
          &::placeholder {
            color: transparent;
          }

          // placeholder가 있는 상태
          & + label {
            position: absolute;
            color: #aaa;
            font-size: 1.4rem;
            top: 2.4rem;
            left: 0;
            transition: top 0.2s ease;
          }

          // input에 text가 있거나 focus 상태인 경우
          &:not(:placeholder-shown) + label,
          &:focus + label {
            color: $main-color;
            font-size: 1.3rem;
            pointer-events: none;
            position: absolute;
            left: 0;
            top: 0.2rem;
          }
        }
      }

      > button {    
        margin-top: 1rem;    
        padding: 1rem 0;
        border: none;
        background-color: #ccc;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: $main-color;
        }
      }
    }
  }

  .navigate-wrapper {
    display: flex;
    width: 30rem;
    justify-content: flex-end;
    font-size: 1.3rem;
    
    .navigate-item {
      padding: 0 0.5rem;
      color: #000;
      transition: color 0.2s ease;
      cursor: pointer;

      &:hover {
        color: $main-color;
      }

      &:last-child {
        border-left: 1px solid #aaa;
        padding-right: 0;
      }
    }
  }

  .kakaoLogin {
    margin-top: 4rem;

    > img {
      cursor: pointer;
      width: 3.7rem;
      height: 3.7rem;
    }
  }
}

@media screen and (max-width: $md) {
  .signinForm-container {
    padding: 5rem 0;
    font-size: $mdFont;

    .signinForm-title {
      > h3 {
        font-size: 2rem;;
      }
    }

    .signinForm-wrapper {
      .signinForm {
        .form-box {
          > input {
            font-size: $mdFont;

            & + label {
              font-size: $mdFont;
            }
          }
        }

        > button {
          font-size: $mdFont;
        }
      }
    }

    .kakaoLogin {
      margin-top: 3rem;
  
      > img {
        cursor: pointer;
        width: 3.2rem;
        height: 3.2rem;
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .signinForm-container {
    padding: 2rem 0;
    font-size: $smFont;
    row-gap: 1rem;

    .signinForm-title {
      > h3 {
        font-size: 1.7rem;;
      }
    }

    .signinForm-wrapper {
      .signinForm {
        .form-box {
          > input {
            font-size: $smFont;

            & + label {
              font-size: $smFont;
            }
          }
        }

        > button {
          font-size: $smFont;
        }
      }
    }

    .navigate-wrapper {
      font-size: $smFont;
    }

    .kakaoLogin {
      > img {
        cursor: pointer;
        width: 2.8rem;
        height: 2.8rem;
      }
    }
  }
}