@import "../../index.scss";

.brandsidebar-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  
  row-gap: 3rem;
  font-size: 1.5rem;
  justify-items: center;

  .brandsidebar-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    
    .brandsidebar-initial {
      display: flex;
      font-size: 1.7rem;
    }
    
  }
}