@import "../../variable.scss";

.checkoutItem {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $line-color;

  &-title {
    padding: 1rem 0.5rem;
    border-top: 1px solid $black-light;
    border-bottom: 1px solid $black-light;
    > h3 {
      font-weight: 600;
    }
  }
}

.checkout-container {
  width: 100vw;
  padding: 7rem 0;
  font-size: 1.4rem;
  color: $black-light;

  .checkout-title {
    width: 48%;
    margin: 0 auto;
    padding: 1rem 0;

    > h2 {
      font-size: 2.2rem;
      font-weight: 600;
    }
  }

  .checkout-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    height: 100%;
    width: 48%;
    margin: auto;

    .checkout-btn {
      padding: 1.5rem 0;
      border: none;
      background-color: $main-color;
      color: #fff;
      transition: background-color 0.2s ease;
      cursor: pointer;

      &:hover {
        background-color: $sub-color;
      }
    }

    .product-total {
      &-item {
        padding: 0.7rem 1.5rem;
        display: flex;
        justify-content: space-between;
        > h4 {
          font-weight: 600;
        }
      }
    }

    .buyer-info {
      display: flex;
      flex-direction: column;
      padding: 2rem 1rem;
      row-gap: 2rem;
      width: 100%;

      &-item {
        display: flex;
        align-items: center;

        .item-left {
          padding: 0.7rem 0;
          width: 15rem;
          font-weight: 600;

          &.total {
            font-size: 1.8rem;
          }
        }

        .item-right {
          width: calc(100% - 15rem);

          > input {
            width: 50%;
            padding: 0.7rem;
            background-color: #fff;
            border: 1px solid $line-color;
            outline: none;
          }

          .total {
            padding: 0.7rem 0;
            width: 100%;
            font-size: 1.8rem;
            font-weight: 600;
          }
        }
      }
    }

    .shipping-content {
      display: flex;
      flex-direction: column;
      padding: 2rem 1rem;
      row-gap: 2rem;
      width: 100%;

      .shipping-item {
        display: flex;
        align-items: center;

        &-left {
          padding: 0.7rem 0;
          width: 15rem;
          font-weight: 600;
        }

        &-right {
          width: calc(100% - 15rem);

          > input {
            padding: 0.7rem;
            background-color: #fff;
            border: 1px solid $line-color;
            outline: none;

            &.explain {
              width: 90%;
            }
          }

          > button {
            margin-left: 0.5rem;
            padding: 0.8rem 1.5rem;
            background-color: $sub-color;
            border: none;
            color: #fff;
            border-radius: 2rem;
            cursor: pointer;
            transition: background 0.2s ease;

            > span {
              font-size: 1.2rem;
            }

            &:hover {
              background-color: $main-color;
            }
          }
        }

        .shipping-selection {
          font-size: 1.4rem;
          display: flex;
          column-gap: 2rem;
          flex-flow: row wrap;
          row-gap: 1rem;
          width: calc(100% - 15rem);

          input[type="radio"] {
            margin-right: 0.3rem;
            transform: scale(1.2) translateY(0.2rem);
            accent-color: #898989;
          }
        }

        .shipping-button {
          width: 100%;
          display: flex;
          justify-content: center;
          padding: 0.5rem 0;
          column-gap: 1rem;

          > button {
            cursor: pointer;
            padding: 1rem 3rem;
            border: none;
            background-color: $sub-color;
            color: #fff;
            transition: background-color 0.2s ease;

            &:hover {
              background-color: $main-color;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .checkout-container {
    padding: 5rem 0;

    .checkout-title {
      width: 90%;
    }

    .checkout-wrapper {
      width: 90%;
    }
  }
}

@media screen and (max-width: $md) {
  .checkout-container {
    padding: 5rem 0;
    font-size: $mdFont;

    .checkout-title {
      > h2 {
        font-size: 2rem;
      }
    }

    .checkout-wrapper {
      .buyer-info {
        &-item {
          .item-left {
            &.total {
              font-size: 1.7rem;
            }
          }

          .item-right {
            .total {
              font-size: 1.7rem;
            }
          }
        }
      }

      .shipping-content {
        .shipping-item {
          .shipping-selection {
            font-size: $mdFont;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .checkout-container {
    padding: 2rem 0;
    font-size: $smFont;

    .checkout-title {
      > h2 {
        font-size: 1.5rem;
      }
    }

    .checkout-wrapper {
      .checkout-btn {
        font-size: $smFont;
        padding: 1rem 0;
      }

      .product-total {
        &-item {
          padding: 0.7rem;
        }
      }

      .buyer-info {
        padding: 1rem;
        row-gap: 1rem;

        &-item {
          .item-left {
            width: 10rem;

            &.total {
              font-size: 1.3rem;
            }
          }

          .item-right {
            width: calc(100% - 10rem);

            > input {
              padding: 0.5rem;
              font-size: $smFont;
            }

            .total {
              font-size: 1.3rem;
            }
          }
        }
      }

      .shipping-content {
        padding: 1rem;
        row-gap: 1rem;

        .shipping-item {
          &-left {
            width: 10rem;
          }

          &-right {
            width: calc(100% - 10rem);

            > input {
              padding: 0.5rem;
              font-size: $smFont;
              width: 50%;

              &.mobile {
                width: 100%;
              }

              &.explain {
                width: 100%;
              }
            }

            > button {
              padding: 0.5rem 1rem;

              > span {
                font-size: $smFont;
              }
            }
          }

          .shipping-selection {
            column-gap: 1rem;
            font-size: $smFont;
            width: calc(100% - 12rem);

            input[type="radio"] {
              transform: scale(0.9) translateY(0.2rem);
            }
          }

          .shipping-button {
            > button {
              font-size: $smFont;
              padding: 0.7rem 2rem;
            }
          }
        }
      }
    }
  }
}