@import "../../variable.scss";

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: inherit;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid $gray-light;
    width: 100%;

    &-left,
    &-right {
      display: flex;
      column-gap: 1rem;
      
      .filter {
        display: none;
        align-items: center;
      }

      .sort {
        height: 100%;
        
        > select {
          color: #000;
          border: none;
          height: 100%;
          width: 8rem;
          font-size: 1.4rem;
          background: transparent;
        }
      }

      .grid-icon {
        cursor: pointer;
        font-size: 1.7rem;
        color: darkgray;

        &:last-child {
          transform: scale(1.1);
        }

        &.selected {
          color: black;
        }
      }
    }
  }

  .products-wrapper {
    position: relative;
    width: 100%;
    min-width: 30vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    column-gap: 5rem;
    padding-top: 1rem;
    z-index: 100;
    
    &.selected {
      grid-template-columns: repeat(3, 1fr);
    }

    &.loading {
      display: block;
      width: 100%;
      height: 100%;
      grid-template-columns: unset;
    }
  }
}

@media screen and (max-width: $lg) {
  section {
    .top {
      display: flex;
      font-size: 1.4rem;

      &-left {
        .filter {
          display: flex;
          height: inherit;
          align-items: center;
          column-gap: 0.5rem;
          cursor: pointer;

          .filter-icon {
           font-size: 1.5rem;
           transform: translateY(-0.1rem);
          }
        }
      }
    }

    .products-wrapper {
      grid-template-columns: repeat(3, 1fr);

      &.selected {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media screen and (max-width: $md) {
  section {
    .top {
      font-size: 1.3rem;

      &-left,
      &-right {
        .filter {
          .filter-icon {
           font-size: 1.4rem;
          }
        }

        .sort {
          > select {
            font-size: 1.3rem;
          }
        }

        .grid-icon {
          font-size: 1.6rem;
        }
      }
    }
  }
}

@media screen and (max-width: $sm) {
  section {
    .top {
      font-size: 1.1rem;

      &-left,
      &-right {
        .filter {
          .filter-icon {
           font-size: 1.2rem;
          }
        }

        .sort {
          > select {
            font-size: 1.1rem;
          }
        }

        .grid-icon {
          font-size: 1.4rem;
        }
      }
    }

    .products-wrapper {
      grid-template-columns: repeat(2, 1fr);

      &.selected {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}