@import "../../variable.scss";

.category-container {
  margin-top: 2rem;
  padding: 2rem 6rem;
  column-gap: 2rem;
  display: flex;
  width: calc(100vw - (100vw - 100%));
  position: relative;
  text-transform: uppercase;
}

@media screen and (max-width: $lg) {
  .category-container {
    margin-top: 2rem;
    padding: 0 2rem;
  }
}