@import "../../../variable.scss";

.lookbook {
  padding: 7rem 0;
  display: flex;
  justify-content: center;
  width: calc(100vw - (100vw - 100%));
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-transform: uppercase;

  &-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    padding: 0 2.5rem;
    border-right: 1px solid $line-color;

    .desc {
      font-size: 1.6rem;
      color: $black-light;
    }

    .banners {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;

      &-wrapper {
        width: 100%;

        > img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    width: 30%;
    padding: 0 0.5rem;
    margin-left: 2rem;
    color: $black-light;

    &-item {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;

      .relatedProduct {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        &-wrapper {
          display: flex;
          align-items: center;
          column-gap: 1rem;

          &-left {
            width: 20%;
            flex-shrink: 0;
            
            .link {
              width: 100%;
              
              > img {
                width: 100%;
                height: auto;
              }
            }
          }

          &-right {
            .brandName {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .lookbook {
    padding: 5rem 0;
    flex-direction: column;

    &-left {
      width: 80%;
      border: none;
      margin: 0 auto;
      padding: 0;
      padding-bottom: 2rem;
      border-bottom: 1px solid $line-color;
    }

    &-right {
      margin: 0 auto;
      width: 80%;
      margin-top: 2rem;
      padding: 0;

      &-item {
        .relatedProduct {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 1.5rem;

          &-wrapper {
            flex-direction: column;
            align-items: unset;

            &-left {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $md) {
  .lookbook {
    font-size: $mdFont;
    line-height: 1.8rem;

    &-left {
      .desc {
        font-size: $mdFont;
      }

      .banners {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &-right {
      &-item {
        .relatedProduct {
          grid-template-columns: repeat(2, 1fr);
          line-height: 1.6rem;
        }
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .lookbook {
    padding: 2rem 2rem;
    font-size: $smFont;
    line-height: 1.6rem;

    &-left {
      width: 100%;
      padding-bottom: $smFont;

      .desc {
        font-size: $smFont;
      }
    }

    &-right {
      width: 100%;
      margin-top: $smFont;

      &-item {
        row-gap: 0.5rem;

        .relatedProduct {
          grid-template-columns: repeat(1, 1fr);
          line-height: 1.4rem;
        }
      }
    }
  }
}
