@import "../../variable.scss";

.lookbooks-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(100vw - (100vw - 100%));
  padding: 7rem 0;
  font-size: 1.4rem;

  .lookbooks-wrapper {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;

    .lookbooks-items {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
  
      > img {
        width: 100%;
      }
    }
  }

}

@media screen and (max-width: $lg) {
  .lookbooks-container {
    
    .lookbooks-wrapper {
      grid-template-columns: repeat(3, 1fr); 
    }
  }
}

@media screen and (max-width: $md) {
  .lookbooks-container {
    padding: 5rem 0;
    font-size: $mdFont;

    .lookbooks-wrapper {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
}

@media screen and (max-width: $sm) {
  .lookbooks-container {
    padding: 2rem 2rem;

    .lookbooks-wrapper {
      width: 100%;
      grid-template-columns: 1fr; 
      gap: 2rem 0;
    }
  }
}