@import "../../variable.scss";

.lookbooks-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  margin: 7rem 0;
  font-size: 1.4rem;

  .lookbooks-wrapper {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;

    .lookbooks-items {
      width: 100%;
      margin: 0 auto;
  
      > img {
        width: 100%;
      }
    }
  }

}

@media screen and (max-width: $lg) {
  .lookbooks-container {
    .lookbooks-wrapper {
      grid-template-columns: repeat(3, 1fr); 
    }
  }
}

@media screen and (max-width: $md) {
  .lookbooks-container {
    .lookbooks-wrapper {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
}

@media screen and (max-width: $sm) {
  .lookbooks-container {
    margin: 2rem 0;

    .lookbooks-wrapper {
      grid-template-columns: 1fr; 
    }
  }
}