@import "../../../variable.scss";

.tile {
  position: absolute;
  top: 0;
  width: 100%;

  &-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    min-height: 100vh;

    &-left {
      color: #212121;
      height: auto;
      font-size: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      text-transform: uppercase;
      

      .brandInfo {
        font-weight: 600;
        > span {
          font-family: "Roboto Slab";
        }

        > p {
          font-size: 2.4rem;
          font-family: "Roboto Slab";
          white-space: nowrap;
        }
      }
    }

    &-right {
      display: flex;
      flex: 1 1 0;
      justify-content: center;
      height: 100vh;

      .tile-item-imgWrapper {
        width: 100%;
        height: 100%;
        padding: 0;

        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .tile {
    &-item {
      grid-template-columns: repeat(1, 1fr);

      &-left {
        height: 25vh;
        font-size: 2.6rem;

        .brandInfo {
          text-align: center;

          > p {
            font-size: 2.2rem;
          }
        }
      }

      &-right {
        height: 75vh;
      }
    }
  }
}

@media screen and (max-width: $md) {
  .tile {
    &-item {
      &-left {
        height: 23vh;
        font-size: 2.6rem;

        .brandInfo {
          > p {
            font-size: 2rem;
          }
        }
      }

      &-right {
        height: 77vh;
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .tile {
    &-item {
      &-left {
        font-size: 2.2rem;

        .brandInfo {
          > p {
            font-size: 1.6rem;

            &:last-child {
              display: none;
            }
          }
        }
      }
    }
  }
}
