@import "../../variable.scss";

.category-container {
  margin-top: 2rem;
  padding: 2rem 6rem;
  display: flex;
  width: 100vw;
  position: relative;
  text-transform: uppercase;

  section {
    display: flex;
    flex-direction: column;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 2rem;
      padding: 1rem;
      border-bottom: 1px solid $gray-light;

      &-left,
      &-right {
        display: flex;
        column-gap: 1rem;
        
        .filter {
          display: none;
          align-items: center;
        }

        .sort {
          height: 100%;
          
          > select {
            border: none;
            height: 100%;
            width: 8rem;
            font-size: 1.4rem;
            background: transparent;
          }
        }

        .grid-icon {
          cursor: pointer;
          font-size: 1.7rem;
          color: darkgray;

          &:last-child {
            transform: scale(1.1);
          }

          &.selected {
            color: #000;
          }
        }
      }
    }
  
    .products-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      row-gap: 2rem;
      column-gap: 5rem;
      position: relative;
      z-index: 100;
      padding: 2rem;
      
      &.selected {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .category-container {
    margin-top: 4rem;
    padding: 0 2rem;

    section {
      .top {
        display: flex;
        font-size: 1.4rem;

        &-left {
        
          .filter {
            display: flex;
            height: inherit;
            align-items: center;
            column-gap: 0.5rem;
            cursor: pointer;

            .filter-icon {
             font-size: 1.5rem;
             transform: translateY(-0.1rem);
            }
          }
        }
      }

      .products-wrapper {
        grid-template-columns: repeat(3, 1fr);

        &.selected {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .category-container {
    padding: 0 0.1rem;

    section {

      .products-wrapper {
        grid-template-columns: repeat(2, 1fr);

        &.selected {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}