@import "../../../variable.scss";

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  box-shadow: 0 0 0 1000px white inset;
}

.forgotpassword {
  width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  margin: 0 auto;
  padding: 15rem 0;
  align-items: center;
  font-size: 1.4rem;

  &-title {
    > h3 {
      font-size: 2.2rem;
      font-weight: 600;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 30rem;

    .box {
      position: relative;

      > input {
        background-color: transparent;
        border: none;
        border-bottom: solid 1px #ccc;
        padding: 25px 0 5px 0;
        font-size: 1.4rem;
        width: 100%;
        outline: none;

        &::placeholder {
          color: transparent;
        }

        // placeholder가 있는 상태
        & + label {
          position: absolute;
          color: #aaa;
          font-size: 1.4rem;
          top: 2.4rem;
          left: 0;
          transition: top 0.2s ease;
        }

        &:not(:placeholder-shown) + label,
        &:focus + label {
          color: $main-color;
          font-size: 1.3rem;
          pointer-events: none;
          position: absolute;
          left: 0;
          top: 0.2rem;
        }
      }
    }

    > button {
      margin-top: 1rem;
      padding: 1rem 0;
      border: none;
      background-color: #ccc;
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: $main-color;
      }
    }
  }
}

@media screen and (max-width: $md) {
  .forgotpassword {
    font-size: $mdFont;

    &-title {
      > h3 {
        font-size: 2rem;
      }
    }

    &-form {
      width: 30rem;

      .box {
        > input {
          font-size: $mdFont;

          & + label {
            font-size: $mdFont;
          }

          &:not(:placeholder-shown) + label,
          &:focus + label {
            font-size: 1.2rem;
          }
        }
      }

      > button {
        font-size: $mdFont;
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .forgotpassword {
    padding: 5rem 0;
    font-size: $smFont;
    row-gap: 1rem;

    &-title {
      > h3 {
        font-size: 1.7rem;
      }
    }

    &-form {
      width: 80%;

      .box {
        > input {
          font-size: $smFont;

          & + label {
            font-size: $smFont;
          }

          &:not(:placeholder-shown) + label,
          &:focus + label {
            font-size: 1rem;
          }
        }
      }

      > button {
        font-size: $smFont;
      }
    }
  }
}
