@import "../../variable.scss";

.header-container {
  height: $headerHeight;
  width: calc(100vw - (100vw - 100%));
  position: relative;
  
  .logo-wrapper {
    font-size: 1.4rem;
    position: absolute;
    z-index: 10;
    height: max-content;
    width: max-content;
    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);
    h1 {
      cursor: pointer;
      font-family: $logo-font;
    }
  }

  .navbar-container {
    font-size: 1.6rem;
    position: relative;
    z-index: 8;
    height: 100%;
    margin: 0 2rem;
  
    .navbar-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
  
      .navbar-items {
        display: flex;
        align-items: center;
        height: inherit;
        column-gap: 1.5rem;
  
        &-lg {
          display: none;
        }
  
        .navbar-item {
          width: 100%;
          height: max-content;
          position: relative;
          cursor: pointer;
          
          &-cart-counter {
            background-color: #eee;
            position: absolute;
            border-radius: 50%;
            height: 14px;
            width: 14px;
            font-size: 0.9em;
            right: -8px;
            top: -10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .header-container {
    .navbar-container {
      .navbar-wrapper {
        .navbar-items {
          display: none;

          &-lg {
            display: block;

            .menuOpen-btn {
              width: 2rem;
              height: 1.5rem;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;
              cursor: pointer;
              
              .menuLine {
                width: inherit;
                border: 0.5px solid #000;
                opacity: 1;
                position: relative;
                transition: opacity 0.2s linear;
                &:nth-child(2)::before {
                  content: '';
                  width: 100%;
                  height: inherit;
                  border: 0;
                  position: absolute;
                  transition: transform 0.2s linear;
                }
                &:nth-child(2)::after {
                  content: '';
                  width: 100%;
                  height: inherit;
                  border: 0;
                  position: absolute;
                  transition: transform 0.2s linear;
                }
              }
            }

            &.opened {
              .menuOpen-btn {
                .menuLine {
                  &:first-child,
                  &:last-child {
                    opacity: 0;
                  }
                  &:nth-child(2) {
                    border: 0;
                    transition: opacity 3s;
                  }
                  &:nth-child(2)::before {
                    content: '';
                    width: 100%;
                    height: inherit;
                    border: 0.5px solid #000;
                    position: absolute;
                    transform: rotate(45deg);
                  }
                  &:nth-child(2)::after {
                    content: '';
                    width: 100%;
                    height: inherit;
                    border: 0.5px solid #000;
                    position: absolute;
                    transform: rotate(-45deg);
                  }
                }
              }
            }
            .search-icon-wrapper {
              display: flex;
              cursor: pointer;

              .search-icon {
                font-size: 2.3rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $md) {
  .header-container {
  
    .logo-wrapper {
      font-size: 1.1rem;
    }

    .navbar-container {
      .navbar-wrapper {
        .navbar-items {
          &-lg {
            .menuOpen-btn {
              width: 1.4rem;
              height: 1.2rem;
            }

            .search-icon-wrapper {
              .search-icon {
                font-size: 2rem;
              }
            }
          }
        }
      }
    }
  }
}