@import "../../../variable.scss";

.profile-item {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 100%;

  &-content {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    width: 100%;

    .alert {
      line-height: 2rem;
    }

    .form {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 4rem;

      &-input {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        > label {
          font-size: 1.6rem;
          font-weight: 600;
        }

        > input {
          width: 42rem;
          padding: 1rem 0.5rem;
          background-color: #fff;
          border: 1px solid $line-color;
          outline: none;
        }
      }

      &-btn {
        width: 42rem;
        padding: 1rem;
        background-color: $sub-color;
        border: none;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: $main-color;
        }
      }
    }

    .modifyForm {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
     
      &-input {
        display: flex;

        &-left {
          padding: 0.7rem 0;
          width: 15rem;
          font-weight: 600;
        }

        &-right {
          width: 27rem;
          background-color: #fff;
          border: 1px solid $line-color;
          padding: 0.7rem;
          outline: none;
          color: #000;
        }
      }
      
      &-btn {
        @extend .form-btn
      }
    }
  }
}

@media screen and (max-width: $md) {
  .profile-item {
    &-title {
      > h2 {
        font-size: 1.7rem;
      }
    }

    &-content {
      row-gap: 2rem;

      .form {
        row-gap: 2rem;

        &-input {
          > label {
            font-size: 1.4rem;
          }
        }

        &-btn {
          font-size: 1.3rem;
        }
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .profile-item {
    &-title {
      > h2 {
        font-size: 1.5rem;
      }
    }

    &-content {
      .form {
        &-input {
          > label {
            font-size: 1.2rem;
          }

          > input {
            padding: 0.5rem;
            width: 100%;
          }
        }

        &-btn {
          width: 100%;
          padding: 0.8rem;
          font-size: $smFont;
        }
      }

      .modifyForm {
        row-gap: 1.5rem;

        &-input {
          &-left {
            width: 9rem;
          }
  
          &-right {
            width: calc(100% - 9rem);
            padding: 0.5rem;
            font-size: $smFont;
          }
        }
      }
    }
  }
}