@import "../../../variable.scss";

.menu-container {
  max-width: 0;
  overflow: hidden;
}

@media screen and (max-width: $lg) {
  .menu-container {
    max-width: 0;
    overflow: hidden;
    height: calc(100vh - $headerHeight);
    position: relative;
    z-index: 1001;
    transition: opacity 0.2s ease-out;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    row-gap: 2rem;
    font-size: 1.4rem;
    opacity: 0;

    .menu-items {
      display: flex;
      flex-direction: column;
      text-align: center;

      .menu-item {
        padding: 1.5rem 6rem;
        margin: 1rem 0;
        cursor: pointer;
      }
    }

    &.menuOpen {
      opacity: 1;
      max-width: calc(100vw - (100vw - 100%));
    }
  }
}

@media screen and (max-width: $md) {
  .menu-container {
    font-size: $mdFont;
    padding-top: 2rem;
    
    .menu-items {
      text-align: center;
    }
  }
}

@media screen and (max-width: $sm) {
  .menu-container {
    font-size: $smFont;
    padding-top: 1rem;
  }
}
