@import "../../variable.scss";

.cart-container {
  width: calc(100vw - (100vw - 100%));
  padding: 7rem 0;
  font-size: 1.4rem;

  .cart-wrapper {
    height: 100%;
    width: 48%;
    margin: auto;

    .cart-title {
      padding: 1rem 0;
      border-bottom: 1px solid $line-color;
      
      > h2 {
        font-size: 2.2rem;
        font-weight: 600;
        transform: translateX(0.5rem);
      }
    }

    .cart-total {
      margin-bottom: 1rem;
      border-bottom: 1px solid $line-color;
      &-item {
        padding: 0.7rem;
        display: flex;
        justify-content: space-between;

        > h4 {
          font-weight: 600;
        }
      }
    }

    .cart-button {
      display: flex;
      justify-content: flex-end;

      > button {
        border: 1.5px solid $main-color;
        color: $main-color;
        background: #fff;
        padding: 0.7rem;
        margin-right: 0.5rem;
        cursor: pointer;

        &:hover {
          color: $sub-color;
          border-color: $sub-color;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .checkout-button {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
      
      &-general {
        width: 65%;
        padding: 1.5rem;
        border:none;
        background-color: $sub-color;
        color: #fff;
        transition: background-color 0.2s ease;
        cursor: pointer;

        &:hover {
          background-color: $main-color;
        }
      }
      
      &-back {
        @extend .checkout-button-general;
        width: 34%;
        color: #fff;
        background-color: $main-color;

        &:hover {
          background-color: $sub-color;
        }
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .cart-container {
    padding: 5rem 0;

    .cart-wrapper {
      width: 80%;
    }
  }
}


@media screen and (max-width: $md) {
  .cart-container {
    font-size: $mdFont;

    .cart-wrapper {
      .cart-title {
        > h2 {
          font-size: 2rem;
        }
      }

      .cart-button {
        > button {
          font-size: $mdFont;
        }
      }

      .checkout-button {
        &-general {
          font-size: $mdFont;
        }
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .cart-container {
    font-size: $smFont;
    padding: 2rem 0;

    .cart-wrapper {
      .cart-title {
        > h2 {
          font-size: 1.5rem;
        }
      }

      .cart-button {
        > button {
          padding: 0.5rem;
          font-size: $smFont;
        }
      }

      .checkout-button {
        margin-top: 1rem;

        &-general {
          font-size: $smFont;
          padding: 1rem;
        }
      }
    }
  }
}