@import "../../variable.scss";

.collections {
  padding: 7rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  font-size: 1.4rem;
  line-height: 2rem;

  &-main {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid $line-color;

    &-items {
      display: flex;
      flex-direction: column;

      .imgWrapper {
        width: 100%;
        height: inherit;

        >img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  
  &-sub {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin-top: 2.5rem;

    &-items {
      display: flex;
      flex-direction: column;
      
      .imgWrapper {
        width: 100%;
        height: inherit;

        > img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .collections {
    padding: 5rem 0;
    &-sub {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: $md) {
  .collections {
    font-size: $mdFont;

    &-main {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 2rem;
      padding-bottom: 2rem;
      border: unset;
    }

    &-sub {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 2rem;
      margin-top: 0;
    }
  }
}

@media screen and (max-width: $sm) {
  .collections {
    font-size: $smFont;
    padding: 2rem 2rem;
    line-height: 1.6rem;

    &-main {
      width: 100%;
      row-gap: 1rem;
      padding-bottom: 1rem;
    }

    &-sub {
      width: 100%;
      row-gap: 1rem;
    }
  }
}