@import "../../variable.scss";

.collection {
   width: 100vw;
   margin: 7rem 0;
   font-size: 1.4rem;
   line-height: 2.2rem;
   color: $black-light;

  &-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 7rem;

    &-top {
      display: flex;

      .top-left {
        width: 80%;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        padding-right: 2.5rem;
        border-right: 1px solid $line-color;

        &-name {
          line-height: 2.6rem;
        }

        &-desc {
          font-size: 1.5rem;
        }
      }

      .top-right {
        margin-left: 2.5rem;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        
        &-item {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .collection {
    margin: 5rem 0;

   &-wrapper {
     &-top {
      flex-direction: column;

      .top-left {
        width: 100%;
        border: unset;
        border-bottom: 1px solid $line-color;
        padding-bottom: 2rem;
        padding-right: 0;
      }

      .top-right {
        margin-left: 0;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
     }
   }
  }
}

@media screen and (max-width: $md) {
  .collection {
    font-size: 1.3rem;
    line-height: 1.8rem;

    &-wrapper {
      &-top {
        .top-left {
          &-name {
            line-height: 2.3rem;
          }
          &-desc {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .collection {
    margin: 2rem 0;
    font-size: 1rem;
    line-height: 1.6rem;

    &-wrapper {
      &-top {
        .top-left {
          &-name {
            line-height: 2rem;
          }
          &-desc {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}