@import "../../../variable.scss";

.navbar-container {
  font-size: 1.6rem;
  position: relative;
  z-index: 10;
  height: 100%;
  margin: 0 2rem;

  .navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .navbar-items {
      display: flex;
      align-items: center;
      height: inherit;
      column-gap: 15px;

      &-lg {
        display: none;
      }

      .navbar-item {
        width: 100%;
        height: max-content;
        position: relative;
        cursor: pointer;
        
        &-cart-counter {
          background-color: #eee;
          position: absolute;
          border-radius: 50%;
          height: 14px;
          width: 14px;
          font-size: 0.9em;
          right: -8px;
          top: -10px;
        }
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .navbar-container {
    .navbar-wrapper {
      .navbar-items {
        display: none;

        &-lg {
          display: block;

          .menuOpen-btn {
            width: 2rem;
            height: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            .menuLine {
              width: inherit;
              border: 0.5px solid #000;
              opacity: 1;
              position: relative;
              transition: all 0.2s linear;
              &:nth-child(2)::before {
                content: '';
                width: 100%;
                height: inherit;
                border: 0;
                position: absolute;
                transition: all 0.2s linear;
              }
              &:nth-child(2)::after {
                content: '';
                width: 100%;
                height: inherit;
                border: 0;
                position: absolute;
                transition: all 0.2s linear;
              }
            }
          }

          &.opened {
            .menuOpen-btn {
              .menuLine {
                &:first-child,
                &:last-child {
                  opacity: 0;
                }
                &:nth-child(2) {
                  border: 0;
                  transition: all 3s;
                }
                &:nth-child(2)::before {
                  content: '';
                  width: 100%;
                  height: inherit;
                  border: 0.5px solid #000;
                  position: absolute;
                  transform: rotate(45deg);
                }
                &:nth-child(2)::after {
                  content: '';
                  width: 100%;
                  height: inherit;
                  border: 0.5px solid #000;
                  position: absolute;
                  transform: rotate(-45deg);
                }
              }
            }
          }
          .search-icon-wrapper {
            display: flex;
            cursor: pointer;

            .search-icon {
              font-size: 2.3rem;
            }
          }
        }
      }
    }
  }
}